// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.new_user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1,h2,h3,h4,h5,h6{
    text-align: center;
}
.card-img{
    width: 318px !important;
}

.card {
    max-width: fit-content;
}

